.modal-dialog {
  width: 75rem;

  .modal-content {

    border-radius: 0;

    .modal-header {
      padding: 3rem 3.5rem;
      background-color: $blue;

      h4 {
        font-family: Poppins-Bold;
      }
    }

    .modal-body {
      padding: 20px 35px 25px 35px;

      label {
        font-family: Poppins-SemiBold;
        letter-spacing: 0.3px;
      }

      h3 {
        font-size: 13px;
        font-family: Poppins-Regular;
        margin-top: 10px;
        margin-bottom: 0;
      }

      p {
        font-size: 18px;
        margin: 0 0 10px;
        font-family: Poppins-SemiBold;
      }
    }

    .modal-save-btn {
      font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
      background-color: $gold;
      border: none;
      color: #1f1f1f;
      border-radius: 0;
      padding: 1rem 2.5rem;

      &:hover {
        // box-shadow: 0 3px 4px 0 rgba(63, 63, 63, 0.25);
        background-color: $sand;
        color: $black;
        border-color: $sand !important;
        outline: none;
      }

      &:focus {
        // box-shadow: 0 3px 4px 0 rgba(63, 63, 63, 0.25) !important;
        background-color: $gold !important;
        color: $black !important;
        border-color: $gold !important;
        outline: none !important;
      }

      &:active {
        background-color: $sand;
        color: $black;
        border: none !important;
        // border-bottom: 0.4rem solid $gold;
        box-shadow: none;
      }

    }
  }

}
