$primary: #E0A867;

$white: #FFFFFF;
$grey: #3F3F3F;
$black: #1F1F1F;
$blue: #1B3066;
$gold: #E0A867;
$green: #07635D;
$sand: #FDD7AC;

$red: #E34C4C;
$err-red: rgba(250, 0, 0, 0.87);
$light-grey: #F2F2F2;
